---
layout: layout
---      
<div class="work-section wf-section">
  <div class="work-wrapper">
    <!-- Check if apiData has items -->   
    {% if apiData.work.length > 0 %}
      {% for item in apiData.work %}
        <!-- note we can make this also go the detail page -->
       
          <a data-w-id="1e6c448f-9cd6-3741-6518-e10de7914ca6" href="/work/{{ item.pageName }}" class="project-card lasiq w-inline-block b" style="background-image: url('/assets/images/{{item.image }}')">
       
          <div class="project-card-overlay">
            <div class="project-text">
              <!--<h2 class="project-title">{{item.title}}</h2>-->
              <div class="project-subtitle">{{ item.title }}</div>
              <div class="project-summary">{{ item.summary | safe | escape | nl2br }}</div>
            </div>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <p>No projects found.</p>
    {% endif %}
  </div>
</div>